/* Custom CSS styling */
iframe {
    display: block;
    border-style: none;
    margin: auto;
    height: 240px;
    width: 480px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}