 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 217px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 49px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-scale: 0.49;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  min-height: 397px;
}

.u-section-2 .u-rotation-parent-1 {
  width: 2028px;
  height: 402px;
  margin: -2px 0 0;
}

.u-section-2 .u-image-1 {
  filter: brightness(0.6);
  width: 402px;
  height: 2028px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -234px auto 60px calc(((100% - 1081px) / 2) + -9px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 245px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 1300px;
    height: 245px;
    margin-top: 0;
    margin-left: -60px;
    margin-right: -60px;
  }

  .u-section-2 .u-image-1 {
    width: 245px;
    height: 1300px;
    object-position: 50% 50.81%;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -155px;
    margin-left: calc(((100% - 1080px) / 2) + 57px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 137px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 720px;
    height: 136px;
    margin-right: 0;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-image-1 {
    width: 136px;
    height: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -175px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 102px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 540px;
    height: 102px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-image-1 {
    width: 102px;
    height: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -167px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 62px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
    height: 64px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-image-1 {
    width: 64px;
    height: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -115px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}.u-section-3 .u-sheet-1 {
  min-height: 528px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-3 .u-image-1 {
  min-height: 510px;
  background-image: url("images/Drone3.png");
  background-size: auto 195%;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-image-1 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 483px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-3 .u-image-1 {
    min-height: 304px;
  }
} .u-section-4 {
  min-height: 397px;
}

.u-section-4 .u-rotation-parent-1 {
  width: 2028px;
  height: 402px;
  margin: -2px 0 0;
}

.u-section-4 .u-image-1 {
  filter: brightness(0.6);
  width: 402px;
  height: 2028px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -234px auto 60px calc(((100% - 1081px) / 2) + 57px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 245px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 1300px;
    height: 245px;
    margin-top: 0;
    margin-left: -60px;
    margin-right: -60px;
  }

  .u-section-4 .u-image-1 {
    width: 245px;
    height: 1300px;
    object-position: 50% 50.81%;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -155px;
    margin-left: calc(((100% - 1080px) / 2) + 57px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 137px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 720px;
    height: 136px;
    margin-right: 0;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-image-1 {
    width: 136px;
    height: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -175px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 102px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 540px;
    height: 102px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-image-1 {
    width: 102px;
    height: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -167px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 62px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 340px;
    height: 64px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-image-1 {
    width: 64px;
    height: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -115px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-5 {
  min-height: 452px;
}

.u-section-5 .u-image-1 {
  width: 1121px;
  height: 452px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 476px;
  }

  .u-section-5 .u-image-1 {
    height: 475px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 218px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 137px;
  }
} .u-section-6 {
  min-height: 367px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 367px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 71px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 54px;
    padding-right: 54px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 42px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 160px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-7 {
  min-height: 383px;
}

.u-section-7 .u-rotation-parent-1 {
  width: 2028px;
  height: 491px;
  margin: 1px 0 0;
}

.u-section-7 .u-image-1 {
  filter: brightness(0.6);
  width: 491px;
  height: 2028px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -311px auto 60px calc(((100% - 1081px) / 2) + 49px);
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 307px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 1180px;
    height: 306px;
  }

  .u-section-7 .u-image-1 {
    width: 306px;
    height: 1180px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -126px;
    margin-left: calc(((100% - 1080px) / 2) + 49px);
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 188px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 720px;
    height: 187px;
  }

  .u-section-7 .u-image-1 {
    width: 187px;
    height: 720px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -7px;
    margin-left: calc(((100% - 720px) / 2) + 49px);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 141px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 540px;
    height: 140px;
  }

  .u-section-7 .u-image-1 {
    width: 140px;
    height: 540px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 40px;
    margin-left: calc(((100% - 540px) / 2) + 49px);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 89px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 340px;
    height: 88px;
  }

  .u-section-7 .u-image-1 {
    width: 88px;
    height: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 340px) / 2) + 49px);
  }
}.u-section-8 .u-sheet-1 {
  min-height: 365px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 43px 0 0 36px;
}

.u-section-8 .u-list-1 {
  margin: 0;
}

.u-section-8 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 36px 0 43px 36px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 192px;
    margin-left: 35px;
  }

  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-8 .u-text-2 {
    margin-left: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 36px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }
} .u-section-9 {
  min-height: 397px;
}

.u-section-9 .u-rotation-parent-1 {
  width: 2028px;
  height: 402px;
  margin: -2px 0 0;
}

.u-section-9 .u-image-1 {
  filter: brightness(0.6);
  width: 402px;
  height: 2028px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -234px auto 60px calc(((100% - 1081px) / 2) + 70px);
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 245px;
  }

  .u-section-9 .u-rotation-parent-1 {
    width: 1300px;
    height: 245px;
    margin-top: 0;
    margin-left: -60px;
    margin-right: -60px;
  }

  .u-section-9 .u-image-1 {
    width: 245px;
    height: 1300px;
    object-position: 50% 50.81%;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: -155px;
    margin-left: calc(((100% - 1080px) / 2) + 48px);
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 137px;
  }

  .u-section-9 .u-rotation-parent-1 {
    width: 720px;
    height: 136px;
    margin-right: 0;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-9 .u-image-1 {
    width: 136px;
    height: 720px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -175px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 102px;
  }

  .u-section-9 .u-rotation-parent-1 {
    width: 540px;
    height: 102px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-9 .u-image-1 {
    width: 102px;
    height: 540px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -167px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 62px;
  }

  .u-section-9 .u-rotation-parent-1 {
    width: 340px;
    height: 64px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-9 .u-image-1 {
    width: 64px;
    height: 340px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -115px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 296px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px 0;
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-top: 68px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 331px;
}

.u-section-11 .u-video-1 {
  width: 541px;
  height: 304px;
  margin: 20px auto 0;
}

.u-section-11 .embed-responsive-1 {
  position: absolute;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 20px auto 0;
}

.u-section-11 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    width: 720px;
  }

  .u-section-11 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-11 .u-video-1 {
    width: 540px;
    height: 303px;
  }

  .u-section-11 .u-text-1 {
    width: 540px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-11 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-11 .u-text-1 {
    width: 340px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }
}