.u-section-1 .u-sheet-1 {
  min-height: 338px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 143px;
  margin: 125px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 16px auto 0 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 772px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2190px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 832px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 368px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0 31px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 1px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 680px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 368px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 476px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 0 31px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 1px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 23px 0 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 756px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 368px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 476px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-text-7 {
  margin: 0 31px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 1px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 23px 0 0;
}

.u-section-2 .u-layout-wrap-4 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 786px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 368px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 499px;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 0;
}

.u-section-2 .u-text-10 {
  margin: 10px 31px 0 0;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  font-weight: 400;
  margin: 3px 179px 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-layout-wrap-5 {
  margin-left: -1140px;
  margin-top: -23px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 571px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  height: 368px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 476px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-2 .u-text-13 {
  margin: 43px 30px 0 1px;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  margin: 1px auto 0 1px;
}

.u-section-2 .u-text-15 {
  margin: 23px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1729px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 652px;
  }

  .u-section-2 .u-image-1 {
    height: 293px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 652px;
  }

  .u-section-2 .u-image-2 {
    height: 385px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 392px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 652px;
  }

  .u-section-2 .u-image-3 {
    height: 385px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 392px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-4 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-7 {
    background-position: 50% 50%;
    min-height: 652px;
  }

  .u-section-2 .u-image-4 {
    height: 385px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 411px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 55px;
  }

  .u-section-2 .u-layout-wrap-5 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 471px;
  }

  .u-section-2 .u-image-5 {
    height: 294px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 392px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-2 .u-image-1 {
    height: 211px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 499px;
  }

  .u-section-2 .u-image-2 {
    height: 282px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 499px;
  }

  .u-section-2 .u-image-3 {
    height: 282px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 499px;
  }

  .u-section-2 .u-image-4 {
    height: 282px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 361px;
  }

  .u-section-2 .u-image-5 {
    height: 211px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3204px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 749px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 508px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 749px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 489px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 749px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 489px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 749px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 489px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 706px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 508px;
  }

  .u-section-2 .u-text-14 {
    margin-right: auto;
  }

  .u-section-2 .u-text-15 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2119px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 619px;
  }

  .u-section-2 .u-image-1 {
    height: 313px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 619px;
  }

  .u-section-2 .u-image-2 {
    height: 301px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 619px;
  }

  .u-section-2 .u-image-3 {
    height: 301px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 619px;
  }

  .u-section-2 .u-image-4 {
    height: 301px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 445px;
  }

  .u-section-2 .u-image-5 {
    height: 313px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }
}