.u-section-1 .u-sheet-1 {
  min-height: 153px;
}

.u-section-1 .u-group-1 {
  width: 540px;
  min-height: 133px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 20px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 95px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 113px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 619px;
}

.u-section-2 .u-image-1 {
  width: 798px;
  background-image: url("images/Screenshot_2022-12-14_203626-removebg-preview.png");
  min-height: 519px;
  height: auto;
  margin: 50px auto -76px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-2 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 651px;
}

.u-section-3 .u-group-1 {
  background-image: none;
  min-height: 605px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin-top: 31px;
  margin-bottom: 15px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -16px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 590px;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 -45px 0 45px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 19px 13px 0 45px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-3 .u-container-layout-3 {
  padding: 4px 0;
}

.u-section-3 .u-image-1 {
  width: 285px;
  height: 271px;
  margin: 59px auto 0 30px;
}

.u-section-3 .u-image-2 {
  width: 285px;
  height: 285px;
  margin: -86px 45px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 244px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 545px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 425px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 24px;
}

.u-section-4 .u-group-1 {
  background-image: none;
  width: 1140px;
  min-height: 424px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 -684px -23px auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 6px;
}

.u-section-4 .u-image-1 {
  width: 384px;
  height: 381px;
  margin: 0 auto 0 48px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 425px;
}

.u-section-4 .u-container-layout-3 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 31px 20px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 29px 34px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 458px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-group-1 {
    width: 376px;
    margin-right: 0;
    height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 295px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-4 .u-group-1 {
    width: 288px;
  }

  .u-section-4 .u-image-1 {
    width: 276px;
    height: 226px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 854px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 793px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 673px;
}

.u-section-5 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-5 .u-group-1 {
  background-image: none;
  min-height: 673px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 19px 6px 0 55px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 28px 579px 0 19px;
}

.u-section-5 .u-text-2 {
  margin: 19px 434px 0 19px;
}

.u-section-5 .u-image-1 {
  width: 296px;
  height: 405px;
  margin: -465px 78px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-5 .u-group-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 398px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 251px;
    margin-left: 2px;
  }

  .u-section-5 .u-image-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 203px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 43px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: -557px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: -975px;
    margin-right: 28px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 524px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 404px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  background-image: none;
  width: 1140px;
  min-height: 401px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0 -684px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 6px;
}

.u-section-6 .u-image-1 {
  width: 349px;
  height: 311px;
  object-position: 50% 66.41%;
  margin: 0 auto 0 48px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 404px;
}

.u-section-6 .u-container-layout-3 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 20px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 32px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 458px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-group-1 {
    width: 376px;
    margin-right: 0;
    height: auto;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 295px;
    margin-left: 15px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-6 .u-group-1 {
    width: 288px;
  }

  .u-section-6 .u-image-1 {
    width: 276px;
    height: 226px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 854px;
  }
}