.u-block-5d17-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5d17-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 2px);
  width: 64px;
  height: 64px;
  right: auto;
  padding: 6px;
}

.u-block-5d17-4 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + 3px);
  padding: 6px;
}

@media (max-width: 1199px) {
  .u-block-5d17-3 {
    left: calc(((100% - 940px) / 2)  + 2px);
  }

  .u-block-5d17-4 {
    right: calc(((100% - 940px) / 2)  + 2px);
  }
}

@media (max-width: 991px) {
  .u-block-5d17-3 {
    left: calc(((100% - 720px) / 2)  + 2px);
  }

  .u-block-5d17-4 {
    right: calc(((100% - 720px) / 2)  + 2px);
  }
}

@media (max-width: 767px) {
  .u-block-5d17-3 {
    left: calc(((100% - 540px) / 2)  + 2px);
  }

  .u-block-5d17-4 {
    right: calc(((100% - 540px) / 2)  + 2px);
  }
}

@media (max-width: 575px) {
  .u-block-5d17-3 {
    left: calc(((100% - 340px) / 2)  + 1px);
  }

  .u-block-5d17-4 {
    right: calc(((100% - 340px) / 2)  + 1px);
  }
}

 .u-section-1-1 {
  background-image: url("images/54-549024_mehndi-henna-mandala-transparent-background-henna-png-png-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.625rem;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-2 {
  background-image: url("images/thumbnail_image-removebg-preview3.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.625rem;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-3 {
  background-image: url("images/thumbnail_image__1_-removebg-preview1.png");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-3 .u-text-1 {
  font-size: 3.625rem;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-4 {
  background-image: url("images/thumbnail_image__2_-removebg-preview1.png");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-4 .u-text-1 {
  font-size: 3.625rem;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-1-4 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 892px;
}

.u-section-2 .u-group-1 {
  margin-top: 80px;
  margin-bottom: 60px;
  background-image: none;
  min-height: 716px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 0 5px;
}

.u-section-2 .u-text-1 {
  margin: 37px auto 0 66px;
}

.u-section-2 .u-text-2 {
  margin: 20px 552px 0 66px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 443px;
  min-height: 374px;
  height: auto;
  margin: -393px 46px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 437px;
  height: 328px;
  object-position: 50% 74.23%;
  margin: 0 0 0 auto;
}

.u-section-2 .u-list-1 {
  width: 508px;
  margin: 46px auto 0 73px;
}

.u-section-2 .u-repeater-1 {
  min-height: 139px;
  grid-template-columns: calc(33.3333% - 24.6667px) calc(33.3333% - 24.6667px) calc(33.3333% - 24.6667px);
  grid-gap: 37px 37px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-2 .u-shape-1 {
  height: 109px;
  background-image: none;
  width: 109px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 56px;
  height: 56px;
  margin: -82px 27px 0 auto;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-2 .u-shape-2 {
  height: 109px;
  background-image: none;
  width: 109px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 56px;
  height: 56px;
  margin: -82px 27px 0 auto;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-2 .u-shape-3 {
  height: 109px;
  background-image: none;
  width: 109px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 56px;
  height: 56px;
  margin: -82px 27px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 417px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-right: 41px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-shape-1 {
    height: NaNpx;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -83px;
  }

  .u-section-2 .u-shape-2 {
    height: NaNpx;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -83px;
  }

  .u-section-2 .u-shape-3 {
    height: NaNpx;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -83px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 197px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 18.5px) calc(50% - 18.5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 43px;
    margin-right: 17px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -298px;
  }

  .u-section-2 .u-list-1 {
    margin-left: 32px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-top: -225px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 738px;
}

.u-section-3 .u-group-1 {
  background-image: none;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  min-height: 578px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 21px;
}

.u-section-3 .u-text-1 {
  margin: 41px auto 0 39px;
}

.u-section-3 .u-image-1 {
  width: 855px;
  height: 442px;
  object-position: 86.95% 50%;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    min-height: 422px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 88px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 657px;
}

.u-section-4 .u-group-1 {
  background-image: none;
  margin-top: 60px;
  margin-bottom: 28px;
  min-height: 537px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-4 .u-gallery-1 {
  height: 393px;
  width: 473px;
  margin: 57px 41px 0 auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 63.42%;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-back-image-4 {
  object-position: 50% 63.82%;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-back-image-5 {
  object-position: 50% 56.24%;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding: 10px 0 0;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 80px;
  height: 50px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 80px;
  height: 50px;
}

.u-section-4 .u-carousel-thumbnail-3 {
  width: 80px;
  height: 50px;
}

.u-section-4 .u-carousel-thumbnail-4 {
  width: 80px;
  height: 50px;
}

.u-section-4 .u-carousel-thumbnail-5 {
  width: 80px;
  height: 50px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: 122px;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  top: 122px;
  padding: 4px;
}

.u-section-4 .u-text-1 {
  margin: -404px auto 0 62px;
}

.u-section-4 .u-video-1 {
  width: 517px;
  height: 329px;
  margin: 24px auto 0 62px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -276px;
  }

  .u-section-4 .u-video-1 {
    margin-top: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-video-1 {
    margin-left: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 54px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 54px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 54px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 54px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 54px;
    height: 34px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 216px;
    margin-left: 0;
  }
}